@import 'normalize.css';

@font-face {
	font-family: 'xkcd-beanish';
	src: url('../fonts/xkcd_beanish-Regular.woff') format('woff'), url('../fonts/xkcd_beanish-Regular.otf') format('opentype');
}


/* Style the page's text. */
body { color: #000; font: 15px 'xkcd-beanish', cursive; }
#navbar { color: #fff; }
#navbar ul { list-style-type: none; }

/* Adjust whitespace in the navigation bar. */
#navbar ul { padding: 10px; }
.linkgroup ul { margin: 0 0 10px 0; }

/* Style navigation bar links. */
#navbar a {
	display: block;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
}
#navbar a:hover, #navbar a:active {
	background: rgba(255, 255, 255, 0.3);
}

/* Style link thumbnails. */
#navbar img {
	width: 42px;
	height: 30px;
	margin: 0 5px 0 0;
	vertical-align: -60%;
}

/* Specialty settings for specific items. */
#title {
	font-family: 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
}
.related {
	font-variant: small-caps;
}
.mirrored {
	display: inline-block;
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}


@media screen and (max-width: 719px) {
	/* Display the navigator bar collapsed into the categories and centered below the title. */
	#navbar {
		background: #000;
		cursor: default;
		width: 100%;
	}
	.linkgroup {
		display: inline-block;
		margin: 0 10px 0 10px;
		position: relative;
	}
	.linkgroup ul {
		background: #000;
		position: absolute;
		left: -10px;
		width: 100%;
		z-index: 1;
	}

	/* Adjust text and line sizes across the navigation bar. */
	#navbar { font-size: 0; text-align: justify; }
	.linkgroup { font-size: initial; line-height: 200%; }
	.linkgroup ul { line-height: normal; text-align: left; }

	/* Highlight the active link group and display its contents. */
	.linkgroup:hover { background: rgba(255, 255, 255, 0.3); }
	.linkgroup:hover ul { display: block; }
	.linkgroup ul { display: none; }

	/* Adjust whitespace. */
	.linkgroup ul { margin: 0; padding: 10px; }
	.linkgroup li { margin: 0; padding: 0; }
	#navbar a { padding: 5px 0;	}

	/* Hide link thumbnails. */
	#navbar img {
		display: none;
	}

	/* Make sure the link groups are justified across the navigation bar. */
	#navbar .justifier {
		display: inline-block;
		width: 100%;
	}
}


@media screen and (min-width: 720px) {
	/* Have a nice background. */
	body { background: url('../images/bg_lighter.png') repeat fixed center; }
	
	/* Display the navigation bar on the left with partial translucency. */
	#navbar {
		background: rgba(0, 0, 0, 0.8);
		position: fixed;
		top: 0;
		left: 0;
		width: 360px;
		height: 100%;
		overflow-y: auto;
	}
	/* Shove everything else to the right. */
	#title, #content { margin-left: 365px; }

	/* Adjust whitepace between items. */
	#navbar ul { margin: 10px; }
	#navbar a { padding: 5px; }

	/* Display the link thumbnails next to the items themselves. */
	#navbar img { display: inline; }
}
