@import '../../node_modules/normalize.css/normalize.css';

@font-face {
	font-family: 'xkcd-beanish';
	src: url('../fonts/xkcd_beanish-Regular.woff') format('woff'), url('../fonts/xkcd_beanish-Regular.otf') format('opentype');
}


/* Style the page's text. */
body { color: #000; font: 15px 'xkcd-beanish', cursive; }
#navbar { color: #fff; }
#navbar ul { list-style-type: none; }

/* Style navigation bar links. */
#navbar a {
	display: block;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
}
#navbar a:hover, #navbar a:active {
	background: rgba(255, 255, 255, 0.3);
}

/* Style link thumbnails. */
#navbar img {
	width: 42px;
	height: 30px;
	margin: 0 5px 0 0;
	vertical-align: -60%;
}

/* Adjust whitespace in the navigation bar. */
#navbar ul { padding: 10px; }
#navbar .linkgroup ul { margin: 0 0 10px 0; }

/* Specialty settings for specific items. */
#title {
	font-family: 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
}
.related {
	font-variant: small-caps;
}
.mirrored {
	display: inline-block;
	transform: scale(-1, 1);
}

/* Fix the clock at the bottom center of the screen. */
#clock {
	position: fixed;
	bottom: 0;
	right: 0;
	text-align: center;
}
#clock img {
	display: inline;
}

/* Adjust the clock so it downscales on smaller devices. */
#clock img {
	max-width: 100%;
}

/* The bottom of the content block should not be covered by the clock when scrolling to the bottom of the page. */
#content {
	padding-bottom: 125px;
}
