/* Have a nice background. */
body { background: url('../images/background.png') repeat fixed center; }
	
/* Display the navigation bar on the left with partial translucency. */
#navbar {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	width: 360px;
	height: 100%;
	overflow-y: auto;
}

/* Display the navbar's link thumbnails next to the items themselves. */
#navbar img { display: inline; }

/* Adjust whitepace between navbar items. */
#navbar ul { margin: 10px; }
#navbar a { padding: 5px; }

/* Shove the content to the right and extend it through the whole viewport. */
#content { position: absolute; }
#content, #clock { left: 365px; right: 20px; }
