/* Display the navigator bar collapsed into the categories and centered below the title. */
#navbar {
	background: #000;
	width: 100%;
	cursor: default;
}
#navbar .linkgroup {
	display: inline-block;
	position: relative;
	margin: 0 10px;
}
#navbar .linkgroup ul {
	display: none;
	position: absolute;
	left: -10px;
	z-index: 1;
	background: #000;
}

/* Hide link thumbnails. */
#navbar img { display: none; }

/* Highlight the active link group and display its contents. */
#navbar .linkgroup:hover { background: rgba(255, 255, 255, 0.3); }
#navbar .linkgroup:hover ul { display: block; }

/* Adjust text and line sizes across the navigation bar. */
#navbar { font-size: 0; text-align: justify; }
#navbar .linkgroup { font-size: initial; line-height: 200%; }
#navbar .linkgroup ul { line-height: normal; text-align: left; }

/* Adjust whitespace. */
#navbar .linkgroup ul { margin: 0; padding: 10px; }
#navbar .linkgroup li { margin: 0; padding: 0; }
#navbar a { padding: 5px 0;	}

/* Make sure the link groups are justified across the navigation bar. */
#navbar .justifier {
	display: inline-block;
	width: 100%;
}

/* There's no navbar at the left to stop us here. */
#clock {
	left: 0;
}
