<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/cm.com.css">

	<header id="title">
		<h1>{{{ heading }}}</h1>
	</header>
	<nav id="navbar">
		<ul>
			<li class="linkgroup">This site
				<ul>
					<li><a href="index.html"><img src="images/thumb-default.png" alt="">Home</a>
					<li><a href="https://webmail.gandi.net/"><img src="images/thumb-default.png" alt="">Webmail</a>
					<li><a href="users.html"><img src="images/thumb-default.png" alt="">User List</a>
					<li><a href="contact.html"><img src="images/thumb-default.png" alt="">Contact</a>
				</ul>
			</li>
			<li class="linkgroup">The Comic
				<ul>
					<li><a href="http://xkcd.com/1190"><img src="images/thumb-default.png" alt="">The One True Comic</a>
					<li><a href="http://xkcd.mscha.org/"><img src="images/thumb-default.png" alt="">mscha's <b>Time</b>frames</a>
					<li><a href="http://xkcd.aubronwood.com/"><img src="images/thumb-default.png" alt="">The Book of Aubron</a>
					<li><a href="http://geekwagon.net/projects/xkcd1190/"><img src="images/thumb-default.png" alt="">Geekwagon Viewer</a>
					<li><a href="http://www.explainxkcd.com/wiki/index.php?title=1190:_Time"><img src="images/thumb-default.png" alt="">Explain XKCD: 1190</a>
					<li><a href="http://wiki.chirpingmustard.com/"><img src="images/thumb-default.png" alt="">XKCD Time Wiki</a>
					<li><a href="http://xkcd.mscha.org/timeaftertime.html"><img src="images/thumb-default.png" alt="">Time After Time</a>
					<li><a href="http://1190.bicyclesonthemoon.dnsd.info/ongoing.htm"><img src="images/thumb-default.png" alt="">Balthartist's BFTF</a>
				</ul>
			</li>
			<li class="linkgroup">Needle-pulled Things
				<ul>
					<li><a href="http://forums.xkcd.com/viewtopic.php?f=7&amp;t=101043"><img src="images/thumb-default.png" alt="">The One True Thread</a>
					<li><a href="http://mirror.chirpingmustard.com/"><img src="images/thumb-default.png" alt=""><span class="mirrored">OTT Mirror</span></a>
					<li><a href="http://contingency.chirpingmustard.com/"><img src="images/thumb-default.png" alt="">The Raftcastle</a>
				</ul>
			</li>
			<li class="linkgroup">OTT Gone Meta
				<ul>
					<li><a href="http://db.chirpingmustard.com/"><img src="images/thumb-default.png" alt="">Time - The Database</a>
					<li><a href="http://ottermap.chirpingmustard.com/"><img src="images/thumb-default.png" alt="">Not AnOTTer Map</a>
				</ul>
			</li>
			<li class="linkgroup">Games &amp; Fun
				<ul>
					<li><a href="http://calendar.chirpingmustard.com/"><img src="images/thumb-default.png" alt="">Eclesiastical Calendar</a>
					<li><a href="http://edfel.atwebpages.com/Time-Map.php"><img src="images/thumb-default.png" alt="">Edfel's Time Map</a>
					<li><a href="http://castle.chirpingmustard.com/"><img src="images/thumb-default.png" alt="">Sandcastle Builder</a>
					<li><a href="http://mrob.com/time/Q04B/"><img src="images/thumb-default.png" alt="">Q04B</a>
					<li><a href="http://kayzgames.itch.io/pfffth?secret=DuJYQ4KCOiZojPbSLXF7gTxoF9c%3d"><img src="images/thumb-default.png" alt="">Pfffth</a>
					<li><a href="http://automome.chirpingmustard.com/"><img src="images/thumb-default.png" alt="">AUTOMOME</a>
					<li><a href="http://xkcd.modularthought.com/ottomeme/"><img src="images/thumb-default.png" alt="">OTToMeme</a>
				</ul>
			</li>
			<li class="justifier"></li>
		</ul>
	</nav>
	<main id="content">
		{{{ contents }}}
	</main>
</html>
