@font-face {
	font-family: 'xkcd-beanish';
	src: url('../fonts/xkcd_beanish-Regular.woff') format('woff'), url('../fonts/xkcd_beanish-Regular.otf') format('opentype');
}


body {
	background: url('../images/bg_light.png') repeat fixed center;
	color: #000;
	font: 15px 'xkcd-beanish', cursive;
}

p {
	padding: 10px;
}

a {
	color: #000;
}

#title {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#navbar {
	color: #fff;
}

#navbar ul {
	list-style-type: none;
	padding: 10px;
}

#navbar .linkgroup ul {
	margin: 0 0 10px 0;
}

#navbar a {
	display: block;
	color: #fff;
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
}

#navbar a:hover, #navbar a:active {
	background: rgba(255,255,255,.3);
}

.thumb {
	width: 42px;
	height: 30px;
	margin: 0 5px 0 0;
	vertical-align: -60%;
}

.related {
	font-variant: small-caps;
}

.mirrored {
	display: inline-block;
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

@media screen and (max-width: 719px) {
	body {
		background: none;
	}

	.thumb {
		display: none;
	}

	#navbar {
		background: #000;
		cursor: default;
		width: 100%;
		text-align: justify;
	}

	#navbar .linkgroup {
		display: inline-block;
		margin: 0 10px 0 10px;
		position: relative;
		line-height: 200%;
	}

	#navbar .linkgroup:hover {
		background: rgba(255,255,255,.3);
	}

	#navbar .linkgroup ul {
		background: #000;
		text-align: left;
		display: none;
		position: absolute;
		left: -15px;
		z-index: 1;
		line-height: normal;
	}

	#navbar .linkgroup:hover ul {
		display: block;
	}

	.justifier {
		display: inline-block;
		width: 100%;
		margin: 0;
		padding: 0;
		height: 0px;
	}

}

@media screen and (min-width: 720px) {
	.thumb {
		display: inline;
	}

	#navbar {
		background: rgba(0,0,0,.8);
		position: fixed;
		top: 0;
		left: 0;
		width: 360px;
		height: 100%;
		overflow-y: auto;
	}

	#navbar ul {
		margin: 10px;
	}

	#title, #content {
		margin-left: 365px;
	}
}
